:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --black-color: #000000;
    --dark-background: #2F303A;
    --light-background: #F5F4FA;    
    --icon-filler: #AFB1B8;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}
h1,h2,h3,h4,h5,h6,p { 
  margin: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  
}
/* ------------Шапка-------------- */

.header {
  border-bottom: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 25px;
  
}
.header .container {
  display: flex;
  align-items: center;
  
}

.logo {
  margin-right: 93px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logoaccent {
    color: var(--accent-color);
}
.logo-dark {
    color: var(--black-color);
}
.logo-light {
    color: var(--primary-white-color);
}
.header-nav {
  display: flex;
  align-items: center;
  
 
}
.header-nav .list {
  display: flex;
  
}
.contacts-nav .list {
  display: flex;
  align-items: center;
  
  }
.site-nav-text+.site-nav-text {
  margin-left: 50px;
}
.site-contacts-text +.site-contacts-text {
   margin-left: 30px;
} 

.contacts-nav {
 display: flex;
 align-items: center;
 margin-left: auto;
 
}
.header-link {
  display: flex;
  align-items: center;
  transition: color 250ms var(--animation-timing-function);
 
  
}
.header-link:hover.contacts-icon {
  fill: var(--accent-color);
}

.contacts-icon {
   margin-right: 10px;
   fill: currentColor;
  
}

.link {
    text-decoration:none;
    color: inherit;
    }

.header-link:hover, .header-link:focus {
    color: var(--accent-color);
    
} 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .list {
      padding: 0;
      margin: 0;
      list-style-type: none;
  }
  .site-nav-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
    
  }
  .site-contacts-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
    
  }
  .current {
      color: var(--accent-color);
      position: relative;
      
  }

  .current::after {
    content: "";
    position: absolute;
    bottom: -33px;
       background-color: var(--accent-color);
      height: 4px; 
      border-radius: 2px;
       width: 100%;
     }
    
  /* ---------------Hero---------------- */
  .hero {
    
    max-width: 1600px;
    margin: 0 auto;
      background: var(--dark-background);
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size:cover;
         
  }
 
  .close-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
    margin-right: 8px;
    margin-left: auto;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--primary-white-color);
    cursor: pointer;
  }

  .hero-headline {
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }
  .hero-button-div {
    text-align: center;
    
  }
  .hero-button {
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    cursor:pointer;

    transition: background-color 250ms var(--animation-timing-function);
  }
    .hero-button:hover, .hero-button:focus{
    background-color: #188CE8;
    }
    .backdrop {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
          
      background-color: rgba(0, 0, 0, 0.2);
      transition: opacity 250ms var(--animation-timing-function), visibility 250ms var(--animation-timing-function);
    }
    .modal {
      position: absolute;
      
      top: 50%;
      left: 50%;
      width: 528px;
      height: 581px;
      background-color: var(--primary-white-color); 
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      
      
      transform: translate(-50%, -50%) scale(1);
      transition: transform 250ms var(--animation-timing-function), opacity 250ms var(--animation-timing-function), visibility 250ms var(--animation-timing-function);

     
    }
    .backdrop.is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
    .backdrop.is-hidden .modal {
      transform: scale(1.2) translate(-50%, -50%);
    }
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;  
    color: var(--title-text-color);
  }
  /* <!-- Особенности --> */
  .qualities {
    padding-bottom: 96px;
    padding-top: 96px;
  }
  .qualities .list {
    display: flex;
    justify-content: space-between;  
            
  }
  .qualities-bg {
    display: flex;
    height: 120px;
    width: 270px;
    background-color: var(--light-background);
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    
  }
  
  .qualities-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.146;
    text-transform: uppercase;
    color: var(--title-text-color);
  }

  .qualities-text {
    width: 270px;
    padding-top: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  /* Чем мы занимаемся */
  .activity {
  padding-bottom: 94px;
  
  }
  .activity-title {
    margin-bottom: 50px;
  }
  .activity .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .activity-item {
   position: relative;
   z-index: 0;
    
  }
  .activity-overlay {
    position: absolute;
    bottom:3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);

    

  }
  .activity-overlay h3 {
    color: var(--primary-white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
     text-transform: uppercase;
  }
  
  /* <!-- Наша команда --> */
  .team-section {
    background-color: var(--light-background);
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team   {
    
    margin-bottom: 50px;
  }
  .team-list {
    display: flex;
    justify-content: space-between;
    
  }
  .team-list > li {
    background-color: var(--primary-white-color);
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-list img {
    margin-bottom: 30px;
  }
  .team-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;     
    text-align: center;
    color: var(--title-text-color);
  }
  .team-text {
      font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
  }
  .team-soc-list {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .team-soc-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-bottom: 30px;
    transition: background-color 250ms var(--animation-timing-function), fill 250ms var(--animation-timing-function);
      
  }
  .team-soc-icon {
    display: flex;
    align-items: center;
    fill: var(--icon-filler);
  }
  .team-soc-li:not(:last-child) {
    margin-right: 10px;
  }

  
  .team-soc-item:hover, .team-soc-item:focus {
    background-color: var(--accent-color);
  }
  .team-soc-item:hover .team-soc-icon {
    fill: var(--primary-white-color);
  }

  .team-soc-item:focus .team-soc-icon {
    fill: var(--primary-white-color);
  }
  /*-------------- Клиенты ----------------*/
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients .section-title {
    margin-bottom: 50px;
  }
  .clients .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .clients-icon {
    fill: var(--icon-filler);
  }
   
  .clients-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    left: 215px;
    top: 2493px;
    border: 1px solid var(--icon-filler);
    box-sizing: border-box;
    border-radius: 4px;
    transition: box-shadow 250ms var(--animation-timing-function), border-color 250ms var(--animation-timing-function), fill 250ms var(--animation-timing-function);
  }
  
  .clients-item:hover {
    border-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .clients-item:focus {
    border-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .clients-item:focus .clients-icon  {
   fill:var(--accent-color);
   
  }
  .clients-item:hover .clients-icon  {
    fill:var(--accent-color);
       }

/* -----------------Подвал---------------- */
  .footer {
     background: var(--dark-background);
     padding-top: 60px;
     padding-bottom: 60px;
      }
  
  .footer .container {
     display: flex;
      }

  .address {
    margin-top: 20px;
    font-style: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  .address-list li:not(:last-child) {
    margin-bottom: 9px;
  }
  .address-map {
      color: var(--primary-white-color);
  }
  .address-text {
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-link:hover, .footer-link:focus {
    color: var(--accent-color);
  }
  .join {
    margin-top: 12px;
    margin-left: 70px;
  }
  .join-title {
    color: var(--primary-white-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
   
  }
  .join-soc-list {
    display: flex;
    align-items: center;
    
  }
  .join-soc-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
      
  }
  .join-soc-icon {
    display: flex;
    align-items: center;
    fill: var(--primary-white-color);

  }
  .join-soc-item:hover, .join-soc-item:focus {
    background-color: var(--accent-color);
  }
  
 /* -----------Портфолио-------------- */
  
 .portfolio {
   padding-top: 94px;
   padding-bottom: 94px;
   position: relative;
 }
    .button-item {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--title-text-color);
    background-color: var(--light-background);
    border-radius: 4px;
    cursor:pointer;
    border: 0;
    transition: box-shadow 250ms var(--animation-timing-function), color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function);
    }
    .button-item:active {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    }
    .button-item:hover, .button-item:focus  {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      background-color: var(--accent-color);
    }
    
    .portfolio-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--title-text-color);
    }
    .porfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;

    }
    .filters {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
         }
    .filters li:not(:first-child) {
      margin-left: 8px;
    }
    .porfolio-list {
      display: flex;
      flex-wrap: wrap;
      margin-top: -30px;
      margin-left: -30px;
      
    }
  .porfolio-list li {
    flex-basis: calc((100% - 90px) / 3);
    margin-top: 30px;
    margin-left: 30px;
    
      
  }
  .portfolio-info {
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
  }
  .portfolio-card {
    transition:box-shadow 250ms var(--animation-timing-function)
  }

  .portfolio-card:hover, .portfolio-card:focus  {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

  }
  .portfolio-card-thumb {
    position: relative;
    overflow: hidden;
    
  }
 .portfolio-card-text {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   padding: 63px 24px;
   font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--animation-timing-function);

 }
 .portfolio-card:hover .portfolio-card-text , .portfolio-card:focus .portfolio-card-text  {
  transform: translateY(0);
 }
 